# SPDX-FileCopyrightText: 2025 The midgard contributors.
# SPDX-License-Identifier: MPL-2.0

name: Security

on:
    push:
        branches:
          - master
    pull_request:
        branches:
          - master

# Declare default permissions as read only.
permissions: read-all

jobs:
    TrivyCode:
        runs-on: ubuntu-latest
        permissions:
            security-events: write
        steps:
          - name: Harden Runner
            uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # v2.14.1
            with:
                egress-policy: audit

          - name: Checkout code
            uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

          - name: Run Trivy vulnerability scanner in repo mode
            uses: aquasecurity/trivy-action@b6643a29fecd7f34b3597bc6acb0a98b03d33ff8 # 0.33.1
            with:
                scan-type: 'fs'
                ignore-unfixed: true
                format: 'sarif'
                output: 'trivy-results.sarif'
                severity: 'CRITICAL'

          - name: Upload Trivy scan results to GitHub Security tab
            uses: github/codeql-action/upload-sarif@45cbd0c69e560cd9e7cd7f8c32362050c9b7ded2 # v4.32.2
            with:
                sarif_file: 'trivy-results.sarif'

    VulnerabilityCheck:
        strategy:
            matrix:
                go-version:
                  - stable
        runs-on: ubuntu-latest
        permissions:
            security-events: write
        steps:
          - name: Harden Runner
            uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # v2.14.1
            with:
                egress-policy: audit

          - name: Checkout
            uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
            with:
                fetch-depth: 1

          - name: VulnerabilityCheck
            uses: golang/govulncheck-action@b625fbe08f3bccbe446d94fbf87fcc875a4f50ee # v1.0.4
            with:
                repo-checkout: false
                go-version-input: ${{matrix.go-version}}
                output-format: sarif
                output-file: govulncheck-results.sarif

          - name: PrintSarif
            id: PrintSarif
            run:  |
                cat govulncheck-results.sarif

                if grep "'results'" govulncheck-results.sarif
                then
                    echo "hasResults=true" >> $GITHUB_OUTPUT
                else
                    echo "hasResults=false" >> $GITHUB_OUTPUT
                fi

          - name: Upload govolncheck results to GitHub Security tab
            if: ${{ steps.PrintSarif.outputs.hasResults == 'true' }}
            uses: github/codeql-action/upload-sarif@45cbd0c69e560cd9e7cd7f8c32362050c9b7ded2 # v4.32.2
            with:
                sarif_file: govulncheck-results.sarif
