# Copyright the midgard contributors.
# SPDX-License-Identifier: MPL-2.0

name: Security

on:
    push:
        branches:
          - master
    pull_request:
        branches:
          - master

# Declare default permissions as read only.
permissions: read-all

jobs:
    TrivyCode:
        runs-on: ubuntu-latest
        permissions:
            security-events: write
        steps:
          - name: Harden Runner
            uses: step-security/harden-runner@5c7944e73c4c2a096b17a9cb74d65b6c2bbafbde # v2.9.1
            with:
              egress-policy: audit

          - name: Checkout code
            uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7

          - name: Run Trivy vulnerability scanner in repo mode
            uses: aquasecurity/trivy-action@6e7b7d1fd3e4fef0c5fa8cce1229c54b2c9bd0d8 # 0.24.0
            with:
                scan-type: 'fs'
                ignore-unfixed: true
                format: 'sarif'
                output: 'trivy-results.sarif'
                severity: 'CRITICAL'

          - name: Upload Trivy scan results to GitHub Security tab
            uses: github/codeql-action/upload-sarif@429e1977040da7a23b6822b13c129cd1ba93dbb2 # v3.26.2
            with:
                sarif_file: 'trivy-results.sarif'

    VulnerabilityCheck:
        strategy:
            matrix:
                go-version:
                  - "1.22"
        runs-on: ubuntu-latest
        permissions:
            security-events: write
        steps:
          - name: Harden Runner
            uses: step-security/harden-runner@5c7944e73c4c2a096b17a9cb74d65b6c2bbafbde # v2.9.1
            with:
              egress-policy: audit

          - name: Checkout
            uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
            with:
                fetch-depth: 1

          - name: VulnerabilityCheck
            uses: golang/govulncheck-action@dd0578b371c987f96d1185abb54344b44352bd58 # v1.0.3
            with:
                go-version-input: ${{matrix.go-version}}
                output-format: sarif
                output-file: govulncheck-results.sarif

          - name: PrintSarif
            run:  |
                cat govulncheck-results.sarif
                if [ grep results govulncheck-results.serif ]
                then
                    echo "hasResults=true" >> $GITHUB_OUTPUT
                else
                    echo "hasResults=false" >> $GITHUB_OUTPUT
                fi

          - name: Upload govolncheck results to GitHub Security tab
            if: ${{ steps.PrintSarif.outputs.hasResults == 'true' }}
            uses: github/codeql-action/upload-sarif@429e1977040da7a23b6822b13c129cd1ba93dbb2 # v3.26.2
            with:
                sarif_file: govulncheck-results.sarif
